@media only screen and (min-width:500px) and (max-width :  768px){

  .text-phone{
    position: relative;
    right: 60px;
  }
  .text-time{
    position: relative;
    right: 140px;
  }

  .header .row {
      flex: none;  
       height: 140px;
    }
    .header .row .col-12{
      flex: none;  

    }

    .header-logo-1 .row  {
      flex: none;
      height: 300px;
    }
    .header-logo-1 .row .logo  {
      flex: none;


    }
    .header-logo-1 .row .input-search {
      position: relative;
      left: 0;

 


    }

    .header-logo-1 .row   .icon{
      position: relative;
      left: 50px

    }
    .banner-top-1 .row{
      width: 100%;

      height: 500px;

    }


    .banner .row .banner-header1{
      width: 104%;
      height: 95%;
          
    }
    .banner .row .banner-header1 .text-banner{
      font-size: 50px;
      position: relative;
      bottom: 30px;


    }
    .banner .row .banner-header1 .button-hover-box-shadownn{

      position: relative;
       left: calc(-5%);
       width: 150px;
       bottom: 50px;
    }


    .banner .row .banner-header2{
      width: 100%;
      margin-top: 30px;

    }
.container-1{
  margin-top: 20px;
}
.container-1 .filter2{
  margin-top: 20px;
}
.container-1 .filter3{
  margin-top: 20px;
}
.container-1 .filter4{
  margin-top: 20px;
}
    .product{
      padding-top: 50px;
      margin-left: 100px;
    }
    .product{
      position: relative;
      right:160px
    
  }
  .product-top{
    flex-direction: column;
   
  
  }
  .product-top .product-1{
    width: 100%;
  
  }

    .banner-sub .row .banner-sub1{
      width: 180%;
      position: relative;

    }
    .banner-sub .row .banner-sub2{
      width: 180%;
      margin-top: 20px;
  

    }
    .banner-logo1{
    
      width: 100%;
      position: relative;
      left: 100px

    }


    .infor-activity-1 .row  .col .phone .icon{
      position: relative;
      left: 5%;
    
    }
    .infor-activity-1 .row  .col .time .icon{
      position: relative;
      left: 5%;
    
    }
    .infor-activity-1 .row  .col .ship .icon{
      position: relative;
      left: 5%;
    
    }

    .infor-activity-1 .row  .col .return .icon{
      position: relative;
      left: 5%;
    
    }

    .input .input-email {
      padding-left: 20px;
    }

    .footer{

        width: 180%;
        position: relative;

        right: 100px;


    }
    .footer .footer-green .col-7{
      width:100%
  }


    .footer  .footer-green .row .col .input{
     padding: 10px;
  }


  .footer-info{
    padding-top:100px;
    height:1050px
  }

  .footer-info .row .col{
   flex: none;
  }

 .footer-a-cong-1{
   width: 180%;
   padding-top:30px;
   height: 100px;

 }










    
    

 
    






    

}



@media only screen and (min-width:780px) and (max-width: 1200px) { 
  
    .header .row .text-phone{
        position: relative;
        right: 120px;
       width: 130%;
       font-size: 13px;
        
      
      }
      .header .row  .fa-clock-o{
        position: relative;
        right: 60px;
      }    
      .header .row .text-time{
        position: relative;
        right: 30px;
        width: 130%;
        font-size: 13px;
      }

.header .row .text-hours{
    position: relative;
    right: 50px;
    width: 130%;
    font-size: 13px;
  
  }

  .header-logo-1 .row .logo {
    position: relative;
        right: 150px;
        width: 150%;
  }
  .header-logo-1 .row .input-search {
        width: 150%;
  }
  .header-menu .menu-main {
    position: relative;
    right: 150px
 
  }
  .icon{
    position: relative;
    left: 45px;
  }
  .banner-header1 .text-banner{
      font-size: 300%;
      position: relative;
      top: 50px;
  }

  .banner-header1 .button-hover-box-shadownn{
  
    width : 150px;
    height: 50px;
    margin-top: 50px;

  }

  .banner-header2 .button-hover-box-shadownn{
  
    width : 150px;
    height: 50px;

  }

  .banner-sub .banner-sub2 > .button-hover-box-shadownn{
    width : 150px;
    height: 50px;
  }

  .product{
      width: 100%;
      padding-left: 0px;
  }

  .phone  .fa-phone{
      margin-left: -50px;
   
}
.time  .fa-clock-o{
    margin-left: -50px;
 
}
.ship  .fa-truck{
    margin-left: -50px;
 
}

.return  .fa-refresh{
    margin-left: -30px;
 
}

 .return .infor{
    position: relative;
    left: 30px;
 }

 .footer-info{

    height: 320px;
      margin-top: 30px;
      
  }

  @media (min-width: 900px){
    .header .row .col-12 .text-phone {
        
        flex-direction: row;
      
      }
      .header .row  .col-12  .text-hours{
        flex-direction: row;
      
      }
    

  }
  
      
 }