@media only screen and  (min-width: 300px) and (max-width:767px){

   .banner .banner-header1{
      height: 90%;
      padding-bottom: 150px;
    }

   .filter1{
      padding-top: 20px;
   }
   .filter2{
      padding-top: 20px;
   }
   
   .filter3{
      padding-top: 20px;
   }
   .filter4{
      padding-top: 20px;
   }

   .product-1{
      padding-top: 20px;

      padding-bottom: 20px;
   }

   .banner-sub .col-12 {
      padding-bottom:30px;

   }
   .banner-logo1 .row  .logo-thuonghieu1 img{
      width: 30%;
      margin-left: 30%;
      
    }

   .banner-logo1 .row  .logo-thuonghieu2 img{
      width: 30%;
      margin-left: 30%;
      
    }
    .banner-logo1 .row  .logo-thuonghieu3 img{
      width: 30%;
      margin-left: 30%;
      
    }

    .banner-logo1 .row  .logo-thuonghieu4 img{
      width: 30%;
      margin-left: 30%;
      
    }
    .banner-logo1 .row  .logo-thuonghieu5 img{
      width: 30%;
      margin-left: 30%;
      
    }
    .banner-logo1 .row  .logo-thuonghieu6 img{
      width: 30%;
      margin-left: 30%;
      
    }

    .infor-activity-1 .phone{
      margin-left: 30%;

    }

    .time{
      margin-left: 30%;

    }
    .ship{
      margin-left: 30%;

    }
    .return{
      margin-left: 30%;

    }
    .input-email {
       width:70%;
      margin-left: 280px;

      padding-bottom: 50px;
    }
    .input{
       margin-bottom: 50px;
    }
    .btn-subscribe button{
       position: relative;
       bottom: 50px;
    }
   
    .footer-info{
       padding-top:100px;
    }




}

