@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Sarina&display=swap');
*{
    padding: 0;
    margin: 0;
}

.header-black{
  
  color: #fff;
  background-color:     #272b2c;
  font-size: 14px;
  font-style:normal;
  font-family: 'PT Sans Narrow', sans-serif;
}


.phone a{
    text-decoration: none;
    color: #fff;
  }
  
  .phone a:hover{
    text-decoration: none;
    color: #6aaf07
  }
  
.header-black .text-phone {
  margin-top: 10px;


}
.header-black .text-phone .phone {
  padding-left: 5px;
  font-weight: 700;
}
.header-black .text-phone .fa-phone {
  color: #6aaf07;
}
.header-black .text-time {
  margin-top: 10px;
  padding-left: 20%;

}
.header-black .text-time .fa-clock-o {
  color: #6aaf07;

}


.header-black .text-hours{
  color:white;
  font-family: 'PT Sans Narrow', sans-serif;


}


.header-black  ul {
   position: relative;
   top:10px;
   float:right;

   
}
.header-black ul li{
  float:left;
  margin-left:20px;
  list-style: none;
  color:#6aaf07;
  font-style:normal;
  font-family: 'PT Sans Narrow', sans-serif;




}
.menu-filter a{
    color: #6aaf07;
    text-decoration: none;
  }
  .menu-filter a:hover{
    color: #fff;
    text-decoration: none;
  }
.header-black .header-logo{
  height: 150px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */


.header-logo-1 .row {
  padding-top: 20px;
}
.header-logo-1 .input-search input{
 margin-left: 20%;
}
.header-logo-1 .row .icon {
  position: relative;
  left: 50%;
  top:10px;
}



.header-logo-1 .row .input-search{
 position: relative;
 right: 25%;
}



 
 



.logo a{
  text-decoration: none;
  color: #6aaf07;
  font-family: 'Sarina', cursive;
  font-size: 30px;

  color: #6aaf07;

  
}

.logo a:hover{
  color: #6aaf07;
  text-decoration: none;
}


.header-logo-1 .row .input-search input{
  min-height: 45px;
  width: 50%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  background: #ebebeb;
  flex-wrap: wrap;
  padding-left: 20px;

}
.header-logo-1 .row  .input-search button{
  margin-left: calc(-1%);
  min-width: 50px;
  min-height: 45px;
  border-top-right-radius: 5px;
  background-color: #6aaf07;
  border-bottom-right-radius: 5px;
  border: none;
}
.header-logo-1 .row .input-search button:hover{
  background-color: #a0f825d9;

}



.header-logo-1 .row .icon {
   font-size: 26px;
   color: #6aaf07;

   position: relative;
   left: 32%;




}

.header-logo-1 .row   i{
    margin-left: calc(3%);

 }

 .header-logo-1 .row   .fa-circle{
  color: #6aaf07;

     font-size: 26px;

 }
 .header-logo-1 .row   .fa-shopping-cart{
   color: #6aaf07;
    font-size: 26px;
}
.header-logo-1 .row   .fa-shopping-cart:hover{
  color: #000000;
}
.header-logo-1 .row   .fa-user{
  color: #6aaf07;

    font-size: 26px;
}
.header-logo-1 .row   .fa-user:hover{
  color: #000000;
}
.header-logo-1 .row   .fa-balance-scale{
  color: #6aaf07;

    font-size: 26px;
}
.header-logo-1 .row   .fa-balance-scale:hover{
   color: #000000;
}
.header-logo-1 .row   .fa-circle .number{

   font-size: 18px;
   color: antiquewhite;
   font-style: normal;
   margin-left: -15px;
   font-weight: 100;
   position: relative;
   top: -3px;

 }

/* ----------------------------------------------------------------------------------------------------------------------------------- */

.header-menu .row ul {
  margin-top: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.header-menu .row ul li{
  float: left;
  list-style: none;
  margin-left: 20px;
}
.menu-main .row  a{
  color: #000000;

  text-decoration: none;

}





   /*--------------------------------------------CONTAINER-----------------------------------------------------------------------*/


.containers{
    min-height: auto;
    padding-top: 20px;
}

.menu_way_new_for_2017{
    width: 100%;
    height:40px;

}
.menu-sub{
    background-color: #7a7d762c;
    width: 100%;
    height:40px;
    
}


.menu_way_new_for_2017 ul li{
   float: left;
   list-style: none;
   margin-right: 3%;
   font-size: 75%;
   position: relative;
   padding-top: 10px;


}


.menu_way_new_for_2017 ul li i{
    
   position: relative;
   left: 30%;


 }
 .menu_way_new_for_2017 ul li a{
     color: #0e1308;
     text-decoration: none;
 }

 .menu_way_new_for_2017 ul li a:hover{
    color: #6aaf07;
}
.text-new_for_2017{
    text-align: center;
    font-size:35px;
    font-weight: 600;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 30px;

}


.view-categories1 {
    padding-top: 70px;
    padding-bottom: 50px;
}
.view-categories1 .row ul{
    /* padding:0 13%; */
    padding-left: 25px;


}



.view-categories ul{
    padding-left: 25px;


}


.text-categories{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 125%;
    padding-bottom: 10px;

}

.menu-categories-croll{
    border: #b4b7b1 1px solid;

    border-bottom: none;
}

.text-vegetable{
    overflow-y: scroll;
    overflow: hidden;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;



}

.text-vegetable :hover{
    cursor: pointer;
}

.text-vegetable-1 :hover{
    cursor: pointer;
}

#text-brand-1{

     overflow:hidden;

     display: none;
     
}

#text-brand-2{

    overflow:hidden;

    display: none;
    
}

#text-brand-3{

    overflow:hidden;

    display: none;
    
}


#text-brand-4{

    overflow:hidden;

    display: none;
    
}


#text-brand-5{

    overflow:hidden;

    display: none;
    
}

#text-brand-6{

    overflow:hidden;

    display: none;
    
}


#text-brand-7{

    overflow:hidden;

    display: none;
    
}


#text-brand-8{

    overflow:hidden;

    display: none;
    
}
.menu-categories-croll .text-vegetable{
    
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
   border-bottom: #b4b7b1 1px solid;


    padding-bottom: 10px;

}

.menu-categories-croll .text-vegetable2{
    
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
        border-bottom: #b4b7b1 1px solid;

    padding-bottom: 10px;

}
.text-vegetable-1{
    
    font-style: normal;
    margin-left: 10%;
    font-family: 'PT Sans Narrow', sans-serif;

}
.text-vegetable .fa-angle-down{
    float: right;
    margin-right: 20px;

 
 }
 .text-brand button{
     width: 100%;
     border: none;
     background-color: #fff;
     font-weight: bold;
    font-family: 'PT Sans Narrow', sans-serif;

 }
 .text-brand i1{
     float: right;
     margin-right: 20px;
 }
 .text-brand i2{
    float: right;
    margin-right: 20px;

}
.text-brand i3{
    float: right;
    margin-right: 20px;


}
.text-brand i4{
    float: right;
    margin-right: 20px;


}

.text-brand i5{
    float: right;
    margin-right: 20px;


}


.text-brand i6{
    float: right;
    margin-right: 20px;


}

.text-brand i7{
    float: right;
    margin-right: 20px;


}
.text-brand i8{
    float: right;
    margin-right: 20px;
}


 .text-brand span1{
    float: left;
}
.text-brand span2{
    float: left;

}
.text-brand span3{
    float: left;

}

.text-brand span4{
    float: left;

}
.text-brand span5{
    float: left;

}
.text-brand span6{
    float: left;
}
.text-brand span7{
    float: left;

}
.text-brand span8{
    float: left;

}

 .text-vegetable a{
    
    color: #000000;
    text-decoration: none;
 
 }
 .text-vegetable ul li button{
     width: 100%;
 }

 .text-vegetable ul li button {
    width: 100%;
    border: none;
    
}
.text-vegetable ul li button .text-peper{
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;

    font-style: normal;
    background-color: #fff;
  
}
.text-vegetable ul li .fa-angle-down{
    margin-left: 100px
    
   

}


.text-vegetable ul li{
    padding-top: 10px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    margin-left: 10px;
    list-style: none;
    font-family: 'PT Sans Narrow', sans-serif;



}
.text-vegetable ul li i{ 

    font-style: normal;




} 

.text-filter{
    font-family: 'PT Sans Narrow', sans-serif;

    padding-top: 30px;
    font-weight: 700;
    font-size: 125%;
    width: 90%;
    border-bottom: #b4b7b1 1px solid;
    padding-bottom: 10px;
}

.price{
    padding-left: 5%;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: #b4b7b1 1px solid;

}
.text-price{
    font-size: 15px;
    font-weight: 700;
    font-family: 'PT Sans Narrow', sans-serif;


}
.input-max-min{
    padding-top: 10px;
    
    

}
.input-max-min input{
    width: 40%;

}

.brand{
    padding-left: 5%;
    padding-top: 10px;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: #b4b7b1 1px solid;

}

.text-brand{
    font-size: 15px;
        font-family: 'PT Sans Narrow', sans-serif;

    font-weight: 700;
    

}
label{
        font-family: 'PT Sans Narrow', sans-serif;

    color: rgba(208, 206, 205, 0.784);
}
.button-apply-clear{
    padding-top: 30px;
    padding-bottom: 30px;

}
.button-apply-clear button{
    height: 50px;
    width: 200px;


    border-radius: 5px;
    background-color: #0e1308;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}


.button-apply-clear button:hover{
    background-color: red;

    
}

.text-show{
    width: 50px;
    float: left;
    padding-top: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;

}
.choose-number-show{
    float: left;


}


.text-sort{
    width:50px;
    float: left;
    padding-top: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
}



.choose-number-show select{
      height: 90%;
      width: 120px;

     margin-left: 10px;
      background-color: #b9bbb760;
      padding: 20px;


  border-radius: 5px;
  border: none;

}

.choose-sort-style select{
    min-height: 100%;
    width: 120px;
  margin-left: 10px;
      background-color: #b9bbb760;
      padding: 20px;



  border-radius: 5px;
  border: none;

}

.choose-page button{

    width: 60px;
    height: 60px;
    border-radius: 5px;
        background-color: #141413a4;
     border: none;

}






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.list-product-page{
    display: flex;
    flex-direction: column;
}
.product-list-sale-page-1{
     height: auto;
     width: 100%;
     padding-bottom: 30px;
     



}
.product-list-top{
    padding-bottom: 50px;
}
.product-list-top .product1 {
    height: auto;
    float: left;
    margin-top: 50px;

}

.product1-box{
    width: 90%;
    height: auto;


}
.product1-box-top{
    width: 100%;
    height: 62%;
    background-color: #b9bbb760;

    z-index: -4;
    overflow: hidden;


}
.product1-box-top img{
    margin-left: 25%;



    transform: scale(1);
    transition: 0.3s ease-in-out;
    z-index: 2;
    overflow: hidden;




}

.product1-box-top   :hover{
    transform: scale(1.3, 1.3);

}
.product1-box-bottom{


    min-width: 18%;
    height: auto;

    z-index: 3;
    overflow: hidden;
    padding-top: 10px;
 

    
}


.product-name{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;

    margin-top: calc(5%);
 
}

.product-price{
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
}

.fa-shopping-cart{

    margin-right: 5px;

}
.product-button button{
    width:150px;
    height:50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;

    background-color: #6aaf07;
    border: none;
}

.product-button button:hover{
    background-color: red;

}

/*----------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------FOOTER---------------------------------------------------------------*/
.footer{
    min-height: auto;
}


.footer .footer-green{
    width: 100%;
    height: 180px;
    background-color: #6aaf07;
}

.newsletter{

  height:150px;
  background-color:#6aaf07;

}

.input{
  height:150px;
  background-color:#6aaf07;
}

.newsletter .text-newsletter {
        font-family: 'PT Sans Narrow', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin-left: calc(5%);
    padding-top: 20px;
}
.newsletter .info-newsletter {
        font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    margin-left: calc(5%);



    color: #fff;


}






 .input-email input{
    width: 95%;
    margin-right: calc(25%);
    min-height: 50px;
    margin-top: calc(5%);
    border-radius: 5px;
    padding-left: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    border: none;


 }

 
 .btn-subscribe button{
    margin-left: calc(73%);
    min-height: 40px;
     min-width: 22%;
    background-color: black;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: calc(2%);
    border: none;
 }

 .btn-subscribe button:hover{
     background-color: red;
 }

.footer-info{

  height: 280px;
    margin-top: 30px;
    
}

.footer{
    width: 100%;
  }
  
.footer .footer1{
  height: 100%;
  float: left;
  
  
}
  
  .footer .footer1 .footer1-title{
       font-size: 20px;
       font-weight: 600;
       padding: 20px 10px ;
       position: absolute;
       font-family: sans-serif;
       font-size: 15px;
       
    
  }
  
  .footer .footer1 .footer2-title{
       position: relative;
       font-size: 15px;
       padding: 60px 10px;
       word-wrap : break-word;
       font-size: 11px;
       font-family: sans-serif;
       color: rgb(164, 165, 166);
  }

  .footer .footer1 .footer3-title{
    position: relative;
    bottom: 30px;
    
}

.footer .footer1 .footer3-title .fa-circle{
  font-size: 40px;
  color:rgba(232, 226, 226, 0.263);
  
  
}

.footer .footer1 .footer3-title .fa-circle:hover{
  color: #6aaf07;
  
  
}
.footer .footer1 .footer3-title .fa-facebook{
  font-size:15px;
  position: relative;
  right:20px;
  bottom: 10px;
}
.footer .footer1 .footer3-title .fa-facebook:hover{
 color: #fff;
}
.footer .footer1 .footer3-title .fa-twitter{
  font-size:15px;
  position: relative;
  right:25px;
  bottom: 10px;
}
.footer .footer1 .footer3-title .fa-google-plus{
  font-size:15px;
  position: relative;
  right:25px;
  bottom: 10px;
}
.footer .footer1 .footer3-title .fa-instagram{
  font-size:15px;
  position: relative;
  right:25px;
  bottom: 10px;
}
.footer .footer1 .footer3-title .fa-youtube-square{
  font-size:15px;
  position: absolute;
  right:22px;
  bottom: 12px;
}

  .footer .footer2{
    height: 100%;

    float: left;
  }
  .footer .footer2 .footer1-title{
       font-size: 20px;
       font-weight: 600;
       padding: 20px 30px ;
       position: absolute;
       font-family: sans-serif;
       font-size: 15px;


       
    
  }
  .footer .footer2 .footer2-title{
       position: relative;
       font-size: 15px;
       padding: 55px 30px;
   
  }
  
  .footer .footer2 .footer2-title ul li{
       position: relative;
       font-size: 11px;
       padding: 5px 0px;
       list-style: none;
       font-family: sans-serif;

   
  }
  .footer .footer2 .footer2-title ul a{
    text-decoration: none;
    color: #6aaf07;
}
.footer .footer2 .footer2-title ul a:hover{

    color: #000000;
}

  .footer .footer3{
    height: 100%;

    float: left;

  }
  
  .footer .footer3 .footer1-title{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px ;
    position: absolute;
    font-family: sans-serif;
    font-size: 15px;


    
 
}
.footer .footer3 .footer2-title{
    position: relative;
    font-size: 15px;
    padding: 55px 30px;

}

.footer .footer3 .footer2-title ul li{
    position: relative;
    font-size: 11px;
    padding: 5px 0px;
    list-style: none;
    font-family: sans-serif;


}
.footer .footer3 .footer2-title ul a{
    text-decoration: none;
    color: #6aaf07;
}
.footer .footer3 .footer2-title ul a:hover{

    color: #000000;
}
  
  .footer .footer4{

    height: 100%;

    float: left;
  }
  
  
  .footer .footer4 .footer1-title{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px ;
    position: absolute;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;


    
 
}
.footer .footer4 .footer2-title{
    position: relative;
    font-size: 15px;
    padding: 55px 30px;

}

.footer .footer4 .footer2-title ul li{
    position: relative;
    font-size: 11px;
    padding: 5px 0px;
    list-style: none;
    font-family: sans-serif;


}
.footer .footer4 .footer2-title ul a{
    text-decoration: none;
    color: #6aaf07;
}
.footer .footer4 .footer2-title ul a:hover{

    color: #000000;
}

  

  





.footer-a-cong-1{
    min-height:auto;
    border-top: rgb(185, 178, 178) 1px solid;

}
.info-a-cong{

  height:80px;
  
}
.logo-nha-tai-tro {
  height:80px;


}

.footer-a-cong-1 .info-a-cong{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 13px;
    padding-top: 20px;
}

.footer-a-cong-1 .logo-nha-tai-tro img{
  padding-top: calc(2%);
  position: relative;
 left: 30%;
}



