@media only screen and (min-width:500px) and (max-width :  768px){

    .text-phone{
      position: relative;
      right: 60px;
    }
    .text-time{
      position: relative;
      right: 140px;
    }
  
    .header .row {
        flex: none;  
         height: 140px;
      }
      .header .row .col-12{
        flex: none;  
  
      }
  
      .header-logo-1 .row  {
        flex: none;
        height: 300px;
      }
      .header-logo-1 .row .logo  {
        flex: none;
  
  
      }
      .header-logo-1 .row .input-search {
        position: relative;
        left: 0;
  
   
  
  
      }
  
      .header-logo-1 .row   .icon{
        position: relative;
        left: 50px
  
      }
    
  
      .input .input-email {
        padding-left: 20px;
      }
  
      .footer{
  
          width: 180%;
          position: relative;
  
          right: 100px;
  
  
      }
      .footer .footer-green .col-7{
        width:100%
    }
  
  
      .footer  .footer-green .row .col .input{
       padding: 10px;
    }
  
  
    .footer-info{
      padding-top:100px;
      height:1050px
    }
  
    .footer-info .row .col{
     flex: none;
    }
  
   .footer-a-cong-1{
     width: 180%;
     padding-top:30px;
     height: 100px;
  
   }
  
  
  
  
  
  
  
  
  
  
      
      
  
   
      
  
  
  
  
  
  
      
  
  }
  