@media only screen and (min-width:500px) and (max-width :  768px){

    .text-phone{
      position: relative;
      right: 60px;
    }
    .text-time{
      position: relative;
      right: 140px;
    }
  
    .header .row {
        flex: none;  
         height: 140px;
      }
      .header .row .col-12{
        flex: none;  
  
      }
  
      .header-logo-1 .row  {
        flex: none;
        height: 300px;
      }
      .header-logo-1 .row .logo  {
        flex: none;
  
  
      }
      .header-logo-1 .row .input-search {
        position: relative;
        left: 0;
  
      }
  
      .header-logo-1 .row   .icon{
        position: relative;
        left: 50px
  
      }
      .product-list-top{
        flex-direction: column;
      }

    
  
      .input .input-email {
        padding-left: 20px;
      }
  
      .footer{
  
          width: 120%;
          position: relative;
          right: 50px;

  
  
      }
      .footer .footer-green .col-7{
        width:100%
    }
  
  
      .footer  .footer-green .row .col .input{
       padding: 10px;
    }
  
  
    .footer-info{
      padding-top:100px;
      height:1050px
    }
  
    .footer-info .row .col{
     flex: none;
    }
  
   .footer-a-cong-1{
     width: 90%;
     padding-top:30px;
     height: 100px;
  
   }
  
  
  }

  
@media only screen and (min-width:780px) and (max-width: 1200px) { 
  
  .header .row .text-phone{
      position: relative;
      right: 120px;
     width: 130%;
     font-size: 13px;
      
    
    }
    .header .row  .fa-clock-o{
      position: relative;
      right: 60px;
    }    
    .header .row .text-time{
      position: relative;
      right: 30px;
      width: 130%;
      font-size: 13px;
    }

.header .row .text-hours{
  position: relative;
  right: 50px;
  width: 130%;
  font-size: 13px;

}

.header-logo-1 .row .logo {
  position: relative;
      right: 150px;
      width: 150%;
}
.header-logo-1 .row .input-search {
      width: 150%;
}
.header-menu .menu-main {
  position: relative;
  right: 150px

}
.icon{
  position: relative;
  left: 45px;
}

.view-categories1 .row {
  width: 100%;
  flex: none;
  padding: 0;



}
.footer{
  width: 100%;
  flex: none;
  padding: 0;
}

.footer-info{

  height: 320px;
    margin-top: 30px;
    
}



    
}
  